.about-me-fulldiv
{
    height: 100%;
    width: 100%;


    background-color: #222831;
    position:absolute;
    box-sizing: border-box;
    transition: transform 400ms ease-in-out;
    transform: translate(100%,0);
    overflow: hidden;
    
}
.about-me-zoom-div
{
    height: 100%;
    width: 100%;
}
.about-me-layer
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.about-circle_01
{
    height: 100vw;
    width: 100vw;
    position: absolute;
    border-radius: 100%;
    background-color: #2D4059;
    transition: transform ease-in-out 300ms;
    top: 0;
    left: 0;
}
.about-me-top-div
{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
}
.about-me-info-div
{
    width: 60%;
    align-self: flex-end;
    margin-bottom: 2rem;
}
.about-me-info-div h1
{
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: #cacaca;
}

.about-me-info-div p
{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #fff;
    padding: 0;
    margin: 0;
}
.about-me-description
{
    display: flex;
}
.about-me-icons
{
    height: .8rem;
    line-height: .8rem;
}
.about-me-bottom-div
{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-label
{
    margin-left: 2rem;
    filter: drop-shadow(4px 4px 0px #333);
    display: flex;
    align-items: flex-end;
}
.about-me-label h2
{
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    height: 6rem;
    line-height: 6rem;
    font-family: 'Roboto Slab', serif;
    font-size: 6rem;
    color: #FF4C29;
    margin-right: 5px;
    font-weight: 700;
}
.about-me-label h3
{
    padding: 0;
    margin: 0;
    margin-right: 2rem;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #fff;
}
@media only screen and (max-width: 1200px) {
    .about-me-bottom-div{
        width: 100%;
        align-items: flex-start;
    }
    .about-me-info-div
    {
        width: 90%;
    }
    .about-me-info-div h1
    {
        font-size: 1.6rem;
    }
    .about-me-info-div p
    {
        font-size: .8rem;
    }
    .about-me-label
    {
        filter: drop-shadow(2px 2px 0px #333);
        margin-left: 10px;
    }
    .about-me-label h2
    {
        font-size: 4rem;
        height: 4rem;
        line-height: 4rem;
    }
    .about-me-label h3
    {
        font-size: 2rem;
    }
}