.intro-fulldiv
{
    height: 100vh;
    min-height: 40rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
.intro-namediv
{
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    font-size: 2rem;
    box-sizing: border-box;
}
.intro-namediv-intro
{
    display: flex;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
.intro-namediv-intro h1
{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;

}
.intro-namediv h1,.intro-namediv span
{
    margin: 0;
    padding: 0;
}
.intro-namediv span
{
    font-family: 'Nova Mono', monospace;
    position: relative;
}
.intro-namediv span::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
    z-index: 3;
    animation: cursor-anim 10s steps(32,end) none,blink 800ms ease-in-out none 12;
    opacity: 0;
}
.intro-namediv span::after
{
    background-color:#fff;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    animation-name: name-anim;
    animation-timing-function: steps(32,end);
    animation-duration: 10s;
    animation-delay: none;
}

@keyframes name-anim {
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
    }
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes cursor-anim {
    0%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}
.intro-picdiv
{
    max-width: 95%;
    width: 30rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}
.intro-picdiv__inner-div
{
    height: 30rem;
    width: 25rem;
    border: 1px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    background-color: #ff3c00;
    overflow: hidden;
}
.intro-picdiv__inner-div img
{
    height: 30rem;
    width: 25rem;
}
@media only screen and (max-width: 900px) {
    .intro-namediv
    {
        font-size: .9rem;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;
    }
    .intro-picdiv
    {
        margin: 0;
        margin-top: 4rem;
        align-self: center;
    }
    .intro-picdiv__inner-div
    {
        height: 20rem;
        width: 20rem;
    }
    .intro-picdiv__inner-div img
    {
        height: 20rem;
        width: 15rem;
    }
}